* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #29197d !important;
  color: #f7c35b;
  margin: 1rem auto auto auto;
}

.app {
  max-height: 95vh;
  max-width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #3825b8 !important;
  filter: drop-shadow(0 0 0.75rem #290341);
  border-radius: 40px;
  top: 50%;
  left: 50%;
}

.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app_left {
  flex: 0.7;
}

.app_right {
  background: #3825b8 !important;
  color: white !important;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 20px !important;
  border: 1px solid;
  margin-left: 20px;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}

.lines_w {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

span {
  color: white;
  font-weight: bold;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
    max-height: 100%;
  }
  .app_right {
    margin: 0;
  }
  .lines_w {
    margin-bottom: 0px;
  }
}
