.infoBox {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #3825b8 !important;
  border-radius: 20px !important;
  color: white !important;
}

.infoBox:last-child {
  margin-right: 20px;
}

.infoBox_cases {
  color: #fd6362;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 0.1rem;
}
