.table {
  margin: 10px 10px 0 10px;
  overflow: scroll;
  height: 600px;
  color: #f7c35b;
  border-radius: 20px;
  border: 1px solid;
  text-align: left;
}

.table::-webkit-scrollbar {
  display: none;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: #191448;
}

.scrollable-element {
  scrollbar-color: #87ceeb #ff5621;
}
